
<div style="text-align:center">

		<h2> <a href="/"><img src="http://i.imgur.com/E4cqzO9.png"></a> || <a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h2>
<div class="listusers">
<h2>List of Users
<a href="/users/new"><br>CREATE A NEW USER</a></h2>

<div style="text-align:center">
<% @users.each do |user|%>
<h3><img src="<%=user.img_url%>" style="height: 300px; width: 300px;"/><br>



	<p>
	<span>Name:</span> <%=user.name%><br>  
	<span>UserName:</span> @<%=user.username%><br>
<span>City, Bourough:</span> <%=user.city_borough%><br>
<a href="/users/<%=user.id%>">View</a><br><br></h3>

	<%end%>
</div>
</div>

