<div class="user">
<div id="container">	

<div id="userphoto">
	<img src="<%=@user.img_url%>"><br>
</div>

<div id="userinfo">
	<h2>
	Name: <%=@user.name%><br>  
	Username: @<%=@user.username%><br>
	City, Borough: <%=@user.city_borough%>
</h2>
</div>
<!-- <div>
		<a href="/users/<%=@user.id%>/edit">EDIT</a> or
		<a href="/users/<%=@user.id%>/edit">DELETE</a>
</div> -->
</div>
</div>