<div style="text-align: center;">
	<h1 > <a href="/"><img src="http://i.imgur.com/E4cqzO9.png"></a> || <a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h1>


<div style="text-align: center">
<form action= "/posts/<%= @post.id%>" method="POST">
	<input type="hidden" name="_method" method="PUT"/>

<!-- comment fix -->
<label for="comment">Comment<br>
	<textarea type="text" name="post[comment]" value="<%=@post.comment%>" ></textarea>
</label><br>

<!-- user drop down -->
<label for="user">User<br>
	<select name="post[user_id]">
		<% @users.each do |user| %>
		<option <%="selected" if user == @post.user %> value="<%= user.id %>"><%= user.name %></option>
		<% end %>
	</select>
</label><br>


<!-- tag drop down -->
<br><br>
<label for="tags">
						<span>Tag Your Photo:</span><br>
	    				<% @tags.each do |tag| %>
								<input type="checkbox" name="tags[]" value="<%= tag.id %>"><%= tag.name %><br>
					<% end %>
		</label><br>

	<input type="submit">
</form>

<!-- delete works -->
<form action="/posts/<%= @post.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE"/>
<button>DELETE</button>
</form> 