<div style="text-align: center">
<form action= "/posts/<%= @post.id%>" method="POST">
	<input type="hidden" name="_method" method="PUT"/>

<!-- comment fix -->
<label for="comment">Comment<br>
	<textarea type="text" name="post[comment]" value="<%=@post.comment%>" ></textarea>
</label><br>

<!-- user drop down -->
<label for="user">User<br>
	<select name="post[user_id]">
		<% @users.each do |user| %>
		<option <%="selected" if user == @post.user %> value="<%= user.id %>"><%= user.name %></option>
		<% end %>
	</select>
</label><br>
<button>SUBMIT</BUTTON>

	<!-- <input type="submit"> -->
</form>

<!-- delete works -->
<form action="/posts/<%= @post.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE"/>
<button>DELETE</button>
</form> 