<div style="text-align:center">
	<a href="/posts/new">GOT A NEW UPDATE?</a>
</div>
<br><br>

	<% @posts.each do |post| %>
	<div class="container">
	<div style="text-align: center; 
							border: 1px solid black; border-radius: 15px; margin-left: 550px; margin-bottom: 20px; width: 600px; background-color: rgba(0,0,0,0.25)">
	<div class ="posts">
<h2>
	<img src="<%= post.user.img_url%>" style="height: 100px; width: 100px;"/>
		@<%=post.user.username%> || <%= post.id%> :: <%= post.comment %> ||
	</h2>

	<h4>
		<%= post.created_at %> || <%= post.user.name%>
	</h4>


	

	</div> 
</div>
<div style="text-align:center; margin-left: 100px;">
	<a href ="/posts/<%= post.id%>">View The Post</a> || <a href ="/posts/<%= post.id%>/edit">Edit The Post</a> || <a href ="/posts/<%= post.id%>/edit">Delete The Post</a></div><br>
<% end %>
<br><br>




